LogicApp-CICD/LogicApp-CICD.DeploymentGroup/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppResponderName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App that is the Responder."
      }
    },
    "logicAppRequesterName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App that is the Requester."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "centralus",
        "eastus",
        "eastus2",
        "northcentralus",
        "southcentralus",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {
    "workflowID": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/', parameters('logicAppResponderName'))]"
  },
  "resources": [
    {
      "name": "[parameters('logicAppResponderName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Responder Logic App"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "inputs": {
                "body": "@triggerOutputs()['headers']",
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {},
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "manual": {
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "siteURL": {
                      "type": "string"
                    },
                    "subscriptionID": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    },
    {
      "name": "[parameters('logicAppRequesterName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Requesting Logic App"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "actions": {
                "ResponseLogicApp": {
                  "inputs": {
                    "body": {
                      "siteURL": "www.hockeyportals.com",
                      "subscriptionID": "unknown"
                    },
                    "host": {
                      "triggerName": "manual",
                      "workflow": {
                        "id": "[variables('workflowID')]"
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Workflow"
                }
              },
              "else": {
                "actions": {
                  "Terminate": {
                    "inputs": {
                      "runStatus": "Cancelled"
                    },
                    "runAfter": {},
                    "type": "Terminate"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['fireWorkflow']",
                      true
                    ]
                  }
                ]
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "fireWorkflow": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}